tests/data/schematron/full_include.sch

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="included-abstract" id="included">
    <param name="context" value="Document/Data" />
    <param name="name" value="Name" />
    <param name="number" value="Number" />
    <param name="context_number" value="Document/Data/Number" />
    <param name="context_name" value="Document/Data/Name" />
</pattern>